<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <menuitem
        id="menu_res_partner_relation"
        name="Relations"
        sequence="3"
        parent="contacts.menu_contacts"
    />
    <menuitem
        id="menu_res_partner_relation_all"
        sequence="3"
        parent="menu_res_partner_relation"
        action="action_res_partner_relation_all"
    />
    <record id="action_res_partner_relation_type" model="ir.actions.act_window">
        <field name="name">Partner Relations Types</field>
        <field name="res_model">res.partner.relation.type</field>
        <field name="view_mode">list,form</field>
    </record>
    <menuitem
        id="menu_res_partner_relation_type"
        name="Relation Types"
        parent="menu_res_partner_relation"
        action="action_res_partner_relation_type"
    />
</odoo>
