interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?fields=place_id&input=McDonald%27s+Charpennes%2C+Villeurbanne&inputtype=textquery
  response:
    body:
      string: "{\n   \"candidates\" : [\n      {\n         \"place_id\" : \"ChIJZVMgfYXq9EcRd1TD3vvTmhU\"\n
        \     }\n   ],\n   \"status\" : \"OK\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=name%2Crating%2Cuser_ratings_total&place_id=ChIJZVMgfYXq9EcRd1TD3vvTmhU
  response:
    body:
      string: "{\n   \"html_attributions\" : [],\n   \"result\" : {\n      \"name\"
        : \"McDonald's\",\n      \"rating\" : 3.2,\n      \"user_ratings_total\" :
        2436\n   },\n   \"status\" : \"OK\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
