interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?fields=place_id&input=Bellecombe+-+Gait%C3%A9+bus%2C+Lyon&inputtype=textquery
  response:
    body:
      string: "{\n   \"candidates\" : [\n      {\n         \"place_id\" : \"ChIJv5Fn4oXq9EcReZcpO3Mkx4w\"\n
        \     }\n   ],\n   \"status\" : \"OK\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=name%2Crating%2Cuser_ratings_total&place_id=ChIJv5Fn4oXq9EcReZcpO3Mkx4w
  response:
    body:
      string: "{\n   \"html_attributions\" : [],\n   \"result\" : {\n      \"name\"
        : \"Bellecombe - Gait\xE9\"\n   },\n   \"status\" : \"OK\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
